@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$font: 'satoshi';
@font-face {
  font-family: $font;
  src:
    url('../fonts/#{$font}.woff2') format('woff2'),
    url('../fonts/#{$font}.woff') format('woff'),
    url('../fonts/#{$font}.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

$fontItalic: 'satoshi-italic';
@font-face {
  font-family: $fontItalic;
  src:
    url('../fonts/#{$fontItalic}.woff2') format('woff2'),
    url('../fonts/#{$fontItalic}.woff') format('woff'),
    url('../fonts/#{$fontItalic}.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@layer utilities {
  .flx-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute inset-0;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

:root {
  // --color-primary-50: 238 242 255;
  // --color-primary-100: 224 231 255;
  // --color-primary-200: 199 210 254;
  // --color-primary-300: 165 180 252;
  // --color-primary-400: 129 140 248;
  // --color-primary-500: 99 102 241;
  // --color-primary-600: 79 70 229;
  // --color-primary-700: 67 56 202;
  // --color-primary-800: 55 48 163;
  // --color-primary-900: 49 46 129;
  // --color-primary-950: 30 27 75;
  // --color-primary-DEFAULT: var(--color-primary-500);
  // --color-gray-50: 250 250 250;
  // --color-gray-100: 244 244 245;
  // --color-gray-200: 228 228 231;
  // --color-gray-300: 212 212 216;
  // --color-gray-400: 161 161 170;
  // --color-gray-500: 113 113 122;
  // --color-gray-600: 82 82 91;
  // --color-gray-700: 63 63 70;
  // --color-gray-800: 39 39 42;
  // --color-gray-900: 24 24 27;
  // --color-gray-950: 9 9 11;
}

html {
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary/20;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary/20;
  }
}

*::selection {
  @apply bg-primary/20 text-white/80;
}

h1 {
  @apply text-center text-4xl font-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance;
}

button,
img {
  @apply select-none;
}

button,
input[type='submit'] {
  @apply cursor-pointer;
}

textarea {
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: rgb(93, 190, 116) transparent;

  &::-webkit-scrollbar {
    width: 2px;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.tab,
[tabindex] {
  @apply outline outline-offset-4 outline-transparent;

  &:focus-visible {
    @apply outline-primary;
  }
}
